# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CQU-Project\all-semi-automatic-labeling-soltware\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
